@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@400;600;800&family=Josefin+Sans:wght@400;600;700&family=Lato:ital,wght@0,400;1,700&family=Work+Sans:wght@400;600;700&display=swap');
